@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 1205px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
a:hover,
li a:hover {
  text-decoration: underline;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #D4D4D4;
}
::-webkit-scrollbar {
  width: 7px;
}
.container {
  margin: 0 auto;
}
.wrapper {
  height: 100%;
  width: 1205px;
  margin: 0 auto;
}

.h2 {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  color: #333333;
}
.arrow {
  position: absolute;
  height: 30px;
  width: 30px;
  background-image: url(../img/slider_sprite.png);
  background-repeat: no-repeat;
}
.arrow:hover {
  cursor: pointer;
}
.wave-bottom {
  background-image: url(../img/new-deals-background-wave.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
.slider__pictures {
  position: relative;
  z-index: 2;
  width: 1200px;
  height: 357px;
}
.slider__pictures .h2 {
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 42px;
  height: 98px;
  width: 487px;
  font-weight: bold;
  font-size: 48px;
  line-height: 98px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(270deg, rgba(161, 179, 191, 0.8) 72.59%, rgba(161, 179, 191, 0) 98.05%);
}
.slider__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
}
.slider__image img {
  display: block;
  height: 100%;
  width: 100%;
}
.slider__arrow {
  z-index: 3;
  top: 45%;
}
.slider__arrow_left {
  left: 7px;
  background-position: 0 0;
}
.slider__arrow_left:hover {
  background-position: -60px 0;
}
.slider__arrow_right {
  right: 7px;
  background-position: -30px 0;
}
.slider__arrow_right:hover {
  background-position: -90px 0;
}
.slider__circles {
  display: flex;
  position: absolute;
  z-index: 3;
  bottom: 20px;
  left: 48%;
}
.slider__circle {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: #ffffff;
  opacity: 0.5;
  outline: none;
}
.slider__circle:not(:first-child) {
  margin-left: 10px;
}
.slider__circle:nth-of-type(1) {
  opacity: 1;
}
.slider__circle:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.new-deals {
  max-width: 1036px;
  margin: 0 auto;
  padding: 44px 20px 50px;
}
.new-deals__menu {
  padding-top: 23px;
  border-bottom: 2px solid #F4F5F2;
}
.new-deals__menu-items {
  height: 100%;
  display: flex;
  margin: 0 103px;
  justify-content: space-between;
  align-items: center;
}
.new-deals__slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 52px;
}
.new-deals__arrow_left {
  background-position: -60px 0;
  left: -45px;
}
.new-deals__arrow_right {
  background-position: -90px 0;
  right: -45px;
}
.new-deals__product {
  width: 284px;
  height: 186px;
  border: solid 0.5px rgba(41, 42, 58, 0.25);
  background-repeat: no-repeat;
  background-position: center center;
}
.new-deals__product a {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.new-deals__product_active {
  position: relative;
  width: 383px;
  height: 252px;
  background-image: url(../img/new-deals__product_active.jpg);
}
.new-deals__product_first {
  background-image: url(../img/new-deals__product_1.jpg);
  opacity: 0.6;
}
.new-deals__product_last {
  background-image: url(../img/new-deals__product_2.jpg);
  opacity: 0.6;
}
.new-deals__product_favorite {
  position: absolute;
  right: 14px;
  top: 14px;
  height: 29px;
  width: 29px;
  background-image: url(../img/new-deals__product_favorite.png);
  background-repeat: no-repeat;
}
.new-deals__product_favorite:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.new-deals__product-info {
  padding-top: 8px;
  text-align: center;
}
.new-deals__product-info .h3 {
  font-weight: 500;
  font-size: 24px;
  color: #333333;
  text-decoration: none;
}
.new-deals__product-info p {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  color: #cccccc;
}
.new-deals__product-info p span {
  text-decoration: underline;
}
.sales-and-news {
  max-width: 1036px;
  margin: 0 auto;
  padding: 35px 20px 60px;
}
.sales-and-news__items {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 285px 385px auto;
  grid-template-rows: 185px 185px;
  margin-top: 22px;
}
.sales-and-news__item {
  background-repeat: no-repeat;
}
.sales-and-news__item:hover {
  box-shadow: 3px 3px 4px 1px rgba(255, 101, 165, 0.25);
}
.sales-and-news__item a {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.sales-and-news__item .h3 {
  width: 100%;
  padding: 12px 0;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(235, 229, 233, 0.5);
}
.sales-and-news__item_1 {
  background-image: url(../img/sales-and-news__item_1.jpg);
}
.sales-and-news__item_2 {
  outline: 2px solid #FFFFFF;
  outline-offset: -14px;
  background-image: url(../img/sales-and-news__item_2.jpg);
}
.sales-and-news__item_2 .h3 {
  margin-top: 16px;
  align-self: flex-start;
  font-size: 32px;
  line-height: 1;
  background-color: unset;
}
.sales-and-news__item_2 .h3 span {
  font-size: 18px;
}
.sales-and-news__item_3 {
  background-image: url(../img/sales-and-news__item_3.jpg);
}
.sales-and-news__item_4 {
  outline: 2px solid #FFFFFF;
  outline-offset: -14px;
  background-image: url(../img/sales-and-news__item_4.jpg);
}
.sales-and-news__item_4 .h3 {
  align-self: center;
}
.sales-and-news__news {
  position: relative;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 3;
  padding: 10px 20px;
  background: #EEEEEE;
}
.sales-and-news__new {
  margin: 40px 0;
}
.sales-and-news__new time {
  font-weight: 300;
  font-size: 12px;
  color: #333333;
}
.sales-and-news__new a {
  display: block;
  margin: 10px 0;
  font-size: 16px;
  color: #333333;
}
.sales-and-news__new a:hover {
  text-decoration: none;
}
.sales-and-news__arrow_up {
  background-position: -90px -30px;
  left: 45%;
}
.sales-and-news__arrow_down {
  background-position: -60px -30px;
  left: 45%;
  bottom: 5px;
}
.about-us {
  position: relative;
  max-width: 790px;
  margin: 0 auto;
  padding-bottom: 77px;
}
.about-us__title {
  margin: 30px auto 0;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.about-us__text {
  margin: 23px auto 0;
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
  list-style-position: inside;
}
.about-us__text_header {
  margin: 24px auto;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}
.about-us__text_overlay {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 150px;
  box-shadow: inset 0 -150px 150px -75px #ffffff, inset 0 -150px 150px -75px #ffffff;
}
.about-us__text_button {
  position: absolute;
  bottom: 0;
  left: 39.5%;
  min-width: 10px;
  margin-bottom: 36px;
  padding: 13px 58px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #B4C5D0;
  background: #FFFFFF;
  border: 1px solid #AFC1CD;
  box-sizing: border-box;
  border-radius: 19.5px;
}
.about-us__text_button:hover {
  border-color: #000000;
  color: #000000;
  cursor: pointer;
}
.subscribe {
  min-height: 92px;
  height: 1px;
  margin: 0 auto;
  background: url(../img/footer-waves.png) top center repeat-x, linear-gradient(92.54deg, #ebe5e9 5.3%, #d1e3e5 95.53%);
}
.subscribe__wrapper {
  display: flex;
  height: 100%;
  max-width: 996px;
  margin: 0 auto;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
}
.subscribe__title {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
}
.subscribe__radios {
  display: flex;
  align-items: center;
}
.subscribe__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}
.subscribe__radio:checked + .subscribe__radio_text:after {
  opacity: 1;
}
.subscribe__radio_label {
  margin-right: 10px;
  font-weight: 300;
  font-size: 16px;
  color: #333333;
}
.subscribe__radio_text {
  position: relative;
  padding: 0 0 0 25px;
  cursor: pointer;
}
.subscribe__radio_text::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #FFF;
  box-sizing: content-box;
  border-radius: 50%;
  background: #dde4e8;
}
.subscribe__radio_text::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #A1B3BF;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: .2s;
}
.subscribe__email {
  width: 204px;
  height: 30px;
  padding: 0 10px;
  margin-left: 8px;
  font-weight: 300;
  font-size: 14px;
  vertical-align: middle;
  color: #333333;
  background: #FFFFFF;
  border: none;
  outline: none;
}
.subscribe__email::placeholder {
  font-weight: 300;
  font-size: 14px;
  color: #D6D6D6;
}
.subscribe__submit {
  width: 101px;
  height: 30px;
  font-weight: 500;
  line-height: normal;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
  border: none;
  background: #A1B3BF;
  outline: none;
}
.subscribe__submit:hover {
  color: #000000;
  cursor: pointer;
}
.footer__bottom {
  min-height: 242px;
  background: #A1B3BF;
}
.footer__bottom .wrapper {
  display: flex;
  max-width: 996px;
  margin: 0 auto;
  padding-top: 35px;
  justify-content: space-between;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
}
.footer__menus {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.footer__menu {
  min-width: 104px;
  font-weight: bold;
}
.footer__menu ul {
  margin-top: 20px;
  list-style: none;
}
.footer__menu a {
  font-weight: 300;
  color: #FFFFFF;
  text-decoration: none;
}
.footer__info {
  margin-left: 7px;
}
.footer__paid-systems {
  display: flex;
  justify-content: space-between;
  margin: 12px auto 0;
  width: 303px;
}
.footer__paid {
  width: 46px;
  height: 28px;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-image: url(../img/footer_sprite.png);
}
.footer__paid:not(:first-child) {
  margin-left: 5px;
}
.footer__paid_paypal {
  background-position: -2px -6px;
}
.footer__paid_master-card {
  background-position: -54px -8px;
}
.footer__paid_visa {
  background-position: -104px -8px;
}
.footer__paid_yandex {
  background-position: -154px -8px;
}
.footer__paid_webmoney {
  background-position: -2px -46px;
}
.footer__paid_qiwi {
  background-position: -52px -46px;
}
.footer__social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
.footer__social-links_title {
  width: 100%;
}
.footer__social-link {
  width: 36px;
  height: 36px;
  margin: 12px 5px 0;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url(../img/footer_sprite.png);
}
.footer__social-link_twitter {
  background-position: -107px -42px;
}
.footer__social-link_vk {
  background-position: -157px -42px;
}
.footer__social-link:hover {
  background-color: #cccccc;
  cursor: pointer;
}
.footer__contacts {
  flex: 1;
  text-align: right;
}
.footer__copyright {
  margin-top: 23px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}
.footer__phone {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.4;
  color: #FFFFFF;
}
.footer__phone_text {
  font-weight: 300;
}
.footer__email {
  display: block;
  margin-top: 37px;
  color: #FFFFFF;
  text-decoration: none;
  background-repeat: no-repeat;
  background-image: url(../img/envelop.png);
  background-position: 49% 0;
}
.hidden {
  visibility: hidden;
}
/* ~~~ Preloader ~~~ */
.preloader_wrapper {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  z-index: 100;
}
.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}
.preloader hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}
.preloader :first-child {
  background: #19A68C;
  animation-delay: -1.5s;
}
.preloader :nth-child(2) {
  background: #ff748b;
  animation-delay: -1s;
}
.preloader :nth-child(3) {
  background: #ffb676;
  animation-delay: -0.5s;
}
.preloader :last-child {
  background: #727e86;
}
@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}
